
input{
    margin-left: 500px;
}
h3{
    text-align: center;
}

.todo-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    margin-left: 350px;
    gap: 20px;
    list-style-type: none;
}
.todo-list ul{
    float: left;
    
}
.todo-list button{
    float: right;
}
