.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul button{
    margin-left: 150px;
}
