.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}
.main button{
   margin: 10px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul button{
    margin-left: 150px;
}
